.loader{
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.circle{
height: 100px;
width: 100px;
background-color:#eee;
border-radius: 50%;
margin: 0 5px;
}
.red{
    background-color: red;
}